In [174]:
import pandas as pd
from sqlalchemy import create_engine

### Extract CSVs into DataFrames

In [175]:
#application_file upload will be based on file location on local machine
application_file = r"C:\Users\bradl\Desktop\Git\nwBootCamp\ETL_Asylum\Resources\asylum-applications.csv"
application_df = pd.read_csv(application_file)
application_df.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),applied
0,2006,Afghanistan,AFG,Australia,AUS,14
1,2006,Albania,ALB,Australia,AUS,21
2,2006,Algeria,DZA,Australia,AUS,5
3,2006,Egypt,EGY,Australia,AUS,38
4,2006,Bahrain,BHR,Australia,AUS,11

In [176]:
decision_file = r"C:\Users\bradl\Desktop\Git\nwBootCamp\ETL_Asylum\Resources\asylum-decisions.csv"
decision_df = pd.read_csv(decision_file)
decision_df.head()

,Year,Country of origin,Country of origin (ISO),Country of asylum,Country of asylum (ISO),Recognized decisions,Complementary protection,Rejected decisions,Otherwise closed,Total decisions
0,2000,Afghanistan,AFG,Australia,AUS,38,0,25,0,63
1,2000,Albania,ALB,Australia,AUS,5,0,23,0,28
2,2000,Algeria,DZA,Australia,AUS,5,0,15,0,20
3,2000,Egypt,EGY,Australia,AUS,20,0,49,5,74
4,2000,Armenia,ARM,Australia,AUS,0,0,5,0,5

### Transform application DataFrame

In [177]:
application_df.shape

(90803, 6)

In [178]:
application_df["Country of origin"].value_counts()

Iraq                      1945
Dem. Rep. of the Congo    1932
Somalia                   1863
Afghanistan               1846
Iran (Islamic Rep. of)    1789
                          ...
Gibraltar                    1
Cook Islands                 1
Anguilla                     1
Marshall Islands             1
Puerto Rico                  1
Name: Country of origin, Length: 212, dtype: int64

In [179]:
new_application_df = application_df[['Year', 'Country of origin', 'Country of asylum', 'applied']].copy()

new_application_transformed_df = new_application_df.rename(columns={"Year": "year",
                                                          "Country of origin": "country_of_origin",
                                                          "Country of asylum": "country_of_asylum",
                                                          "applied": "applied"
                                                         })
new_application_transformed_df.head()

   year country_of_origin country_of_asylum  applied
0  2006       Afghanistan         Australia       14
1  2006           Albania         Australia       21
2  2006           Algeria         Australia        5
3  2006             Egypt         Australia       38
4  2006           Bahrain         Australia       11

In [206]:
us_application_df = new_application_transformed_df.loc[new_application_transformed_df["country_of_asylum"] == "United States of America"]
us_application_df.groupby(['year'])
us_application_df.reset_index(drop=False)

      index  year country_of_origin         country_of_asylum  applied
0      6112  2017           Albania  United States of America        5
1      6113  2017             Egypt  United States of America       29
2      6114  2017         Argentina  United States of America        5
3      6115  2017        Bangladesh  United States of America        5
4      6116  2017            Brazil  United States of America       52
...     ...   ...               ...                       ...      ...
5985  77155  2005             Yemen  United States of America       13
5986  77156  2005            Zambia  United States of America       16
5987  77157  2005          Zimbabwe  United States of America      222
5988  77158  2005         Stateless  United States of America       83
5989  77159  2005          Unknown   United States of America      260

[5990 rows x 5 columns]

In [207]:
us_application_df["country_of_origin"].value_counts()

Albania             46
India               46
Indonesia           46
Jordan              46
Syrian Arab Rep.    46
                    ..
Iceland              1
Samoa                1
Curacao              1
Cayman Islands       1
Marshall Islands     1
Name: country_of_origin, Length: 191, dtype: int64

In [208]:
us_application_df_merge = us_application_df
us_application_df_merge['merge_key'] = us_application_df['year'].astype(str) + us_application_df['country_of_origin']+us_application_df['country_of_asylum']
us_application_df_merge = us_application_df_merge.groupby(['year', 'country_of_origin', 'country_of_asylum'],as_index = False).agg({'applied':'sum'})
us_application_df_merge

<ipython-input-208-afbd200f0c7c>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_application_df_merge['merge_key'] = us_application_df['year'].astype(str) + us_application_df['country_of_origin']+us_application_df['country_of_asylum']

,year,country_of_origin,country_of_asylum,applied
0,2000,Afghanistan,United States of America,443
1,2000,Albania,United States of America,2481
2,2000,Algeria,United States of America,157
3,2000,Angola,United States of America,118
4,2000,Argentina,United States of America,168
...,...,...,...,...
3119,2020,Venezuela (Bolivarian Republic of),United States of America,28380
3120,2020,Viet Nam,United States of America,600
3121,2020,Yemen,United States of America,138
3122,2020,Zambia,United States of America,35
3123,2020,Zimbabwe,United States of America,228

### Transform decision DataFrame

In [209]:
decision_df.shape

(82518, 10)

In [210]:
decision_df["Country of asylum"].value_counts()

United States of America                                5767
Sweden                                                  4207
Germany                                                 4065
France                                                  3459
United Kingdom of Great Britain and Northern Ireland    3451
                                                        ...
Vanuatu                                                    1
Samoa                                                      1
Grenada                                                    1
Viet Nam                                                   1
Lao People's Dem. Rep.                                     1
Name: Country of asylum, Length: 183, dtype: int64

In [211]:
new_decision_df = decision_df[['Year', 'Country of origin', 'Country of asylum', 'Recognized decisions', 'Complementary protection','Rejected decisions','Otherwise closed','Total decisions']].copy()
new_decision_transformed_df = new_decision_df.rename(columns={"Year": "year",
                                                          "Country of origin": "country_of_origin",
                                                          "Country of asylum": "country_of_asylum",
                                                          "Recognized decisions": "recognized_decisions",
                                                          "Complementary protection": "complementary_protection",
                                                          "Rejected decisions": "rejected_decisions",
                                                          "Otherwise closed": "otherwise_closed",
                                                          "Total decisions": "total_decisions"
                                                         })

new_decision_transformed_df.head()

,year,country_of_origin,country_of_asylum,recognized_decisions,complementary_protection,rejected_decisions,otherwise_closed,total_decisions
0,2000,Afghanistan,Australia,38,0,25,0,63
1,2000,Albania,Australia,5,0,23,0,28
2,2000,Algeria,Australia,5,0,15,0,20
3,2000,Egypt,Australia,20,0,49,5,74
4,2000,Armenia,Australia,0,0,5,0,5

In [212]:
us_decision_df = new_decision_transformed_df.loc[new_decision_transformed_df["country_of_asylum"] == "United States of America"]

us_decision_df.reset_index(drop=False)

,index,year,country_of_origin,country_of_asylum,recognized_decisions,complementary_protection,rejected_decisions,otherwise_closed,total_decisions
0,10392,2017,Afghanistan,United States of America,5,0,0,5,10
1,10393,2017,Albania,United States of America,38,0,0,19,57
2,10394,2017,Angola,United States of America,5,0,0,0,5
3,10395,2017,Egypt,United States of America,104,0,5,58,167
4,10396,2017,Armenia,United States of America,15,0,5,18,38
...,...,...,...,...,...,...,...,...,...
5762,63339,2020,Venezuela (Bolivarian Republic of),United States of America,1356,0,3118,1157,5631
5763,63340,2020,Yemen,United States of America,23,0,42,42,107
5764,63341,2020,Zambia,United States of America,5,0,5,0,10
5765,63342,2020,Zimbabwe,United States of America,27,0,35,23,85
5766,63343,2020,Unknown,United States of America,39,0,95,51,185

In [213]:
us_decision_df["country_of_origin"].value_counts()

Guatemala                 46
Dem. Rep. of the Congo    46
Cameroon                  46
Nicaragua                 46
Uzbekistan                46
                          ..
Cayman Islands             1
Marshall Islands           1
Norway                     1
Cyprus                     1
Botswana                   1
Name: country_of_origin, Length: 184, dtype: int64

In [222]:
us_decision_df_merge = us_decision_df
us_decision_df_merge ['merge_key'] = us_decision_df['year'].astype(str) + us_decision_df['country_of_origin']+us_decision_df['country_of_asylum']
#Remove Duplcates in year / country of origin and sum our decision values
us_decision_df_merge = us_decision_df_merge.groupby(['year', 'country_of_origin', 'country_of_asylum'],as_index = False).agg({
                  'recognized_decisions':'sum', 'complementary_protection':'sum', 'rejected_decisions':'sum',
                  'otherwise_closed':'sum', 'total_decisions':'sum'})
us_decision_df_merge

<ipython-input-222-36469a4e9d36>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  us_decision_df_merge ['merge_key'] = us_decision_df['year'].astype(str) + us_decision_df['country_of_origin']+us_decision_df['country_of_asylum']

,year,country_of_origin,country_of_asylum,recognized_decisions,complementary_protection,rejected_decisions,otherwise_closed,total_decisions
0,2000,Afghanistan,United States of America,333,0,82,108,523
1,2000,Albania,United States of America,642,0,1054,476,2172
2,2000,Algeria,United States of America,82,0,75,80,237
3,2000,Angola,United States of America,41,0,43,26,110
4,2000,Argentina,United States of America,15,0,46,60,121
...,...,...,...,...,...,...,...,...
3022,2020,Venezuela (Bolivarian Republic of),United States of America,2000,0,3864,1429,7293
3023,2020,Viet Nam,United States of America,71,0,71,49,191
3024,2020,Yemen,United States of America,48,0,54,42,144
3025,2020,Zambia,United States of America,5,0,5,0,10
3026,2020,Zimbabwe,United States of America,32,0,35,23,90

### Merge Application and Decision DataFrames

In [215]:
mask = ((us_application_df_merge.year == 2000)&(us_application_df_merge.country_of_origin == 'Albania')&(us_application_df_merge.country_of_asylum == 'United States of America'))
us_application_df_merge[mask]

   year country_of_origin         country_of_asylum  applied
1  2000           Albania  United States of America     2481

In [237]:
# Still needs some edits
merged_df = pd.merge(us_application_df_merge, us_decision_df_merge, how = 'left')
merged_df.insert(0, 'id', range(1, 1+len(merged_df)))
merged_df

,id,year,country_of_origin,country_of_asylum,applied,recognized_decisions,complementary_protection,rejected_decisions,otherwise_closed,total_decisions
0,1,2000,Afghanistan,United States of America,443,333.0,0.0,82.0,108.0,523.0
1,2,2000,Albania,United States of America,2481,642.0,0.0,1054.0,476.0,2172.0
2,3,2000,Algeria,United States of America,157,82.0,0.0,75.0,80.0,237.0
3,4,2000,Angola,United States of America,118,41.0,0.0,43.0,26.0,110.0
4,5,2000,Argentina,United States of America,168,15.0,0.0,46.0,60.0,121.0
...,...,...,...,...,...,...,...,...,...,...
3119,3120,2020,Venezuela (Bolivarian Republic of),United States of America,28380,2000.0,0.0,3864.0,1429.0,7293.0
3120,3121,2020,Viet Nam,United States of America,600,71.0,0.0,71.0,49.0,191.0
3121,3122,2020,Yemen,United States of America,138,48.0,0.0,54.0,42.0,144.0
3122,3123,2020,Zambia,United States of America,35,5.0,0.0,5.0,0.0,10.0
3123,3124,2020,Zimbabwe,United States of America,228,32.0,0.0,35.0,23.0,90.0

### Create database connection

In [241]:
connection_string = "postgres:Underpar*18@localhost:5432/asylum_db"
engine = create_engine(f'postgresql://{connection_string}')

In [242]:
# Confirm tables
engine.table_names()

<ipython-input-242-2d97e9123e98>:2: SADeprecationWarning: The Engine.table_names() method is deprecated and will be removed in a future release.  Please refer to Inspector.get_table_names(). (deprecated since: 1.4)
  engine.table_names()

['us_asylum']

### Load DataFrames into database

In [243]:
merged_df.to_sql(name='us_asylum', con=engine, if_exists='append', index=False)

In [244]:
pd.read_sql_query('select * from us_asylum', con=engine).head()

,id,year,country_of_origin,country_of_asylum,applied,recognized_decisions,complementary_protection,rejected_decisions,otherwise_closed,total_decisions
0,1,2000,Afghanistan,United States of America,443,333.0,0.0,82.0,108.0,523.0
1,2,2000,Albania,United States of America,2481,642.0,0.0,1054.0,476.0,2172.0
2,3,2000,Algeria,United States of America,157,82.0,0.0,75.0,80.0,237.0
3,4,2000,Angola,United States of America,118,41.0,0.0,43.0,26.0,110.0
4,5,2000,Argentina,United States of America,168,15.0,0.0,46.0,60.0,121.0